@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Скидування стилей списку */
.list {
  list-style: none;
}

/* Скидування стилей посилань */
.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.suptitle {
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  top: 470px;
  left: 33px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-mobile-btn {
  line-height: 0;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.letter {
  color: #4D5AE5;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2E2F42;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .menu-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-mobile-btn {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }
  .header-link:hover,
  .header-link:focus {
    color: #404BBF;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404BBF;
  }
  .menu-list:not(:last-child) {
    margin-right: 40px;
  }
  .logo {
    margin-right: 76px;
  }
  .color-link {
    color: #404BBF;
  }
  .menu-list {
    position: relative;
  }
  .header-current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    display: block;
  }
  .menu .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contact-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contacts .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .menu-contacts .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 1000;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .mobile-menu-close-icon,
.mobile-menu-close:focus .mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404BBF;
  border: 0;
  outline: none;
}

.mobile-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.mobile-menu-color-link {
  color: #404BBF;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link:hover {
  color: #404BBF;
}

.mobil-menu-container {
  position: relative;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
}

.mobile-menu-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4D5AE5;
}

.mobile-menu-mail {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-address {
  margin-bottom: 48px;
}

.mobile-menu-social {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}

.mobile-menu-social-ithem {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 427px) {
  .mobile-menu-tel {
    font-size: 8vw;
  }
}
@media screen and (min-width: 428px) {
  .mobile-menu-container-width {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.section-hero {
  background-color: #2E2F42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}

.section.section-hero {
  padding-top: 112px;
  padding-bottom: 112px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/mobile-hero2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/tablet-hero1x.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/tablet-hero2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero1x.jpg);
  }
  .section.section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .container.container-hero-desktop {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1158px), screen and (min-resolution: 192dpi) and (min-width: 1158px), screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero2x.jpg);
  }
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-transform: capitalize;
  text-align: center;
}

.features-subtitle {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (max-width: 1157px) {
  .icon-feature {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-subtitle {
    max-width: 356px;
  }
  .features-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .icons-features {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .features-list-item {
    width: calc((100% - 72px) / 4);
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .icon-feature {
    width: 64px;
    height: 64px;
  }
}
@media screen and (max-width: 1157px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .section-work {
    padding-top: 0;
  }
  .work-title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
  }
  .work-title {
    text-align: center;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
}
.team-section {
  background-color: #F4F4FD;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 72px;
}

.name-employee-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-top: 32px;
}

.professions-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.employee-team {
  max-width: 264px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: #404BBF;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
  }
}
.customers-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 72px;
}

.customers-link {
  width: 190px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  width: 110px;
  height: 56px;
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404BBF;
  color: #404BBF;
}

@media screen and (min-width: 768px) {
  .icon-customers {
    width: 104px;
    height: 56px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 0;
    justify-content: space-between;
  }
}
.footer-page {
  background-color: #2E2F42;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #E7E9FC;
  text-align: start;
  max-width: 268px;
  margin-top: 16px;
}

.logo-letter {
  color: #F4F4FD;
}

.footer-copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social-footer-ithem {
  width: 40px;
  height: 40px;
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.copyright-soc-wraper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.social-footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: rgb(49, 208, 170);
}

.social-footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.form-subscribe-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.form-subscribe-title {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.input-subscribe {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  padding: 8px 16px;
}

.btn-submit {
  font-family: "Roboto", sans-serif;
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
  background-color: #404BBF;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 582px;
  }
  .copyright-soc-wrap {
    display: flex;
    width: 100%;
    justify-content: start;
  }
  .copyright {
    width: 264px;
  }
  .footer-copyright {
    align-items: start;
  }
  .form-subscribe {
    flex-direction: row;
    align-items: start;
  }
  .form-subscribe-wraper {
    align-items: start;
  }
  .social-footer {
    align-items: start;
  }
  .copyright-soc-wraper {
    flex-direction: row;
    gap: 24px;
  }
  .social-footer-list {
    flex-wrap: nowrap;
  }
  .input-subscribe {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    width: 1158px;
    flex-wrap: nowrap;
    gap: 80px;
  }
  .copyright-soc-wraper {
    flex-direction: row;
    gap: 120px;
  }
  .form-subscribe {
    gap: 24px;
  }
}
.project-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #F4F4FD;
  border: 1px solid #E7E9FC;
  color: #4D5AE5;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-btn:hover,
.project-btn:focus {
  background-color: #404BBF;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
}

.portfolio-project-subtitle {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.project-filter-btn {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: -24px;
}

.portfolio-project-list > .Item {
  /* flex-basis: calc (100%/3-24px); */
  margin-top: 48px;
  margin-left: 24px;
}

.filter-section {
  padding-top: 96px;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
}

.portfolio-project-img {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-img:hover,
.portfolio-project-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-thumb-wraper {
  position: relative;
  overflow: hidden;
}

.overlay-card-porfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4D5AE5;
  color: #F4F4FD;
  padding: 40px 32px 40px;
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-img:hover .overlay-card-porfolio,
.portfolio-project-img:focus .overlay-card-porfolio {
  transform: translate(0%, 0%);
}

.backdrop-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.backdrop-wraper.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-modal-icon {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-modal:hover,
.close-btn-modal:focus {
  background-color: #404BBF;
  border: 0;
  outline: none;
}

.close-btn-modal:hover .close-btn-modal-icon,
.close-btn-modal:focus .close-btn-modal-icon {
  fill: #ffffff;
}

@media screen and (max-width: 427px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .modal {
    height: 584px;
  }
}
.form-title {
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2E2F42;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.icon-wrap {
  position: relative;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2E2F42;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-send {
  border: none;
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404BBF;
  outline: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4D5AE5;
  outline: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4D5AE5;
  outline: none;
}

.modal-input:hover + .icon-modal-input,
.modal-input:focus + .icon-modal-input {
  fill: #4D5AE5;
}

.chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.chekbox-label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-chekbox:checked + .chekbox-label:before {
  display: block;
  background-color: #404BBF;
  border: none;
  background-image: url(../images/chekbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-chekbox:hover + .chekbox-label:before,
.modal-chekbox:focus + .chekbox-label:before {
  border-color: #4D5AE5;
}

.privacy-policy-link {
  color: #4D5AE5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link:hover,
.privacy-policy-link:focus {
  color: #404BBF;
}/*# sourceMappingURL=main.css.map */