@import "./variables/var";

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-background-primary;
    color: $color-primary;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

/* Скидування стилей списку */
.list {
    list-style: none;
}

/* Скидування стилей посилань */
.link {
    text-decoration: none;
}

@import "./components/container";

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.suptitle {
    margin-bottom: 8px;
}
@import "./utils/visually-hidden";
@import "./components/header_page";
@import "./components/mobile_menu";
@import "./components/hero";
@import "./components/features";
@import "./components/work";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal";
@import "./components/form_modal";