
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-mobile-btn {
  
  line-height: 0;
    
}
.page-header {
    padding-top: 26px;
    padding-bottom: 26px;
}


.letter {
    color: $color-logo-links;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: $color-secondary;
    text-decoration: none;
}



@media screen and (max-width:767px){
.menu-contacts {
    display: none;
}
}


@media screen and (min-width:768px) {
.menu-mobile-btn {
    display: none;
    }
.menu {
    display: flex;
    align-items: center;
}
.page-header {
    padding-top: 0;
    padding-bottom: 0;
}
.nav {
    display: flex;
    align-items: center;
}
.header-container{
    padding-right: 16px;
    padding-left: 16px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $color-secondary;
    transition: color $transition-dur-time-func;
    display: block;
}
.header-link:hover,
.header-link:focus {
    color: $color-pressed-state;
}
.contact-link:hover,
.contact-link:focus {
    color: $color-pressed-state;
}
.menu-list:not(:last-child) {
        margin-right: 40px;
    }

 .page-header {
     border-bottom: 1px solid $color-border-btn;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }   
 .logo {
     margin-right: 76px;
 }
 .color-link {
     color: $color-pressed-state;
}
.menu-list {
    position: relative;
}

.header-current-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: $color-pressed-state;
    border-radius: 2px;
    display: block;
}

.menu .link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: $color-primary;
    transition: color $transition-dur-time-func;

}
.menu-contacts .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
}

@media screen and (min-width:1200px) {
.menu-contacts .contacts-list {
    flex-direction: row;
    gap:40px;

}
.contact-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}






