.section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: $color-secondary;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: $color-text;
    width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: $color-text;
    min-width: 169px;
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
    background-color: $color-logo-links;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    transition: background-color $transition-dur-time-func;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: $color-pressed-state;
}