.section-hero {
    background-color: $color-secondary;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: $color-text;
    max-width: 320px;
    text-align: center;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: $color-text;
    min-width: 169px;
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    padding-right: 32px;
    background-color: $color-logo-links;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    transition: background-color $transition-dur-time-func;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: $color-pressed-state;
}

.section.section-hero {
padding-top: 112px;
padding-bottom: 112px;
}


@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .section-hero {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Hero/mobile-hero2x.jpg);
    }
}

@media screen and (min-width:768px) {
    .section-hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/tablet-hero1x.jpg);
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    

}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/tablet-hero2x.jpg);
    }
}
@media screen and (min-width:1158px) {
    .section-hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero1x.jpg);
    }
    .section.section-hero {
        padding-top: 188px;
        padding-bottom: 188px;
}

.container.container-hero-desktop{
    padding-left: 15px;
    padding-right: 15px;
}

}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1158px),
screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px) {
    .section-hero {  
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/Hero/desktop-hero2x.jpg);
    }
}
