.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-background-primary;
    z-index: 1000;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: $color-border-btn;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $transition-dur-time-func;
}
.mobile-menu-close-icon {
    fill: $color-secondary;
    transition: fill $transition-dur-time-func;
    
}
.mobile-menu-close:hover .mobile-menu-close-icon,
.mobile-menu-close:focus .mobile-menu-close-icon {
    fill: $color-text;
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: $color-pressed-state;
    border: 0;
    outline: none;
}
.mobile-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $color-secondary;

}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.mobile-menu-link:hover {
    color: $color-pressed-state;
}

.mobil-menu-container {
    position: relative;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
}


.mobile-menu-tel{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $color-logo-links;
    

}
.mobile-menu-mail {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap:40px;
    
}
.menu-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.mobile-address{
margin-bottom: 48px;
    
}

.mobile-menu-social{
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}
.mobile-menu-social-ithem {
    width: 40px;
    height: 40px;
}
.mobile-menu-social-link {
    width: 100%;
    height: 100%;
    background-color: $color-logo-links;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



@media screen and (min-width:428px) {
    .mobile-menu-container-width {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

