@media screen and (max-width:1158px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width:1158px){
.section-work {
    padding-top: 0;
}

.work-title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $color-secondary;
}

.work-title {
    text-align: center;
}

.work-list {
    display: flex;
    gap: 24px;
}
}