$color-primary: #434455;
$color-secondary:#2E2F42;
$color-background-primary:#FFFFFF;
$color-logo-links:#4D5AE5;
$color-pressed-state:#404BBF;
$color-text:#ffffff;
$color-text-btn:#4D5AE5;
$color-bgr-btn:#F4F4FD;
$color-border-btn:#E7E9FC;
$color-background-secondary:#F4F4FD;
$color-border-card:#E7E9FC;
$color-border-secondary:#8E8F99;
$color-icons-customers:#8e8f99;
$color-bg-card-portfolio:#4D5AE5;
$color-text-overlay:#F4F4FD;
$color-bg-modal:#FCFCFC;
$transition-dur-time-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$color-bg-btn-subscribe:#4D5AE5;
$color-bord-input:#4D5AE5;